h1 {
    color: red;
    font-family: 'comic sans ms';
}

h2 {
    color: blue;
    font-family: 'comic sans ms';
}

p {
    color: orangered;
    font-family: 'comic sans ms';
    font-size: large;
}

<a {
    font-size: large;
    font-family: 'comic sans ms';
}
