h1 {
    color: rgba(255, 0, 0, 0.89);
    font-family: 'comic sans ms';
}

h2 {
    color: blue
    font-family: 'comic sans ms';
}

p {
    color: rgb(174, 0, 255);
    font-family: 'comic sans ms';
    font-size: large;
}